/.vscode
/Animal.java
/Battery.java
/Bird.java
/Car.java
/CustomerList.java
/data1.txt
/Drawer.java
/Employee.java
/Fish.java
/Funkcie.java
/JavaApp.java
/Java_WorkSpace___.code-workspace
/Kid.java
/Line.java
/Man.java
/Person.java